/* Sidebar */
.accordion-button:focus {
  box-shadow: none;
}

.sidebar-item > a {
  /* cursor: pointer; */
  text-decoration: none;
}

.sidebar-item:hover > a {
  color: coral;
}

.accordion-button {
  font-size: 1.5rem;
}

.selected > a {
  color: coral;
  font-weight: bold;
}

/* error page */
#error-page > p > i {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* List */
.title {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.btn-create {
  font-size: 1.5rem;
  width: auto;
}

.list-table {
  margin-top: 1rem;
}

.active {
  color: #0da738 !important;
}

.inactive {
  color: #cb1414 !important;
}

.page-number {
  width: 50px;
  margin: 0 20px;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

/* CreateUpdate */
#contact-form {
  margin: 50px auto 50px auto;
}

.form-select {
  width: auto;
}

.form-select:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.form-select:focus {
  border-color: black;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.form-check {
  padding-left: 0;
}

.form-check-input {
  margin-left: -0.5rem !important;
  margin-right: 0.5rem;
}

/* Table */
th,
td {
  max-width: 30vw;
}

/* Card List */
.dropdown-card-list {
  width: 40vw;
  max-width: 32rem;
}

.personnel-dropdown-card-list {
  width: 60vw;
  max-width: 32rem;
}

.undefined-infomation {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

.card-list {
  max-width: 32rem;
}

.card {
  max-width: 130px;
}

/* CategoryWeightCardList */
.weight-info {
  font-weight: bold;
}

.weight-value {
  color: #FF0000;
}