/* Sidebar */
.accordion-button:focus {
    box-shadow: none;
}

.sidebar-item>a {
    /* cursor: pointer; */
    text-decoration: none;
}

.sidebar-item:hover>a {
    color: coral;
}

.accordion-button {
    font-size: 1.5rem;
}

.selected>a {
    color: coral;
    font-weight: bold;
}

/* DanhSach */
.title {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.btn-tao {
    font-size: 1.5rem;
    width: auto;
}

.danh-sach-table {
    margin-top: 1rem;
}

.table>tbody>tr {
    cursor: pointer;
}

.active {
    color: #0DA738 !important;
}

.inactive {
    color: #CB1414 !important;
}

.page-number {
    width: 50px;
    margin: 0 20px;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

/* error page */
#error-page>p>i {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}